.content{
    max-width: 750px;
    width: 100%;
    margin: 0 auto;
    background: #eaebef;
    .banner-top{
       position: relative;
       a{
           position: absolute;
           left: 380px;
           bottom: 65px;
            display: block;
            width: 165px;
            height: 124px;
            animation: discount 3s infinite;
        }
    }
    .banner-bottom{
       position: relative;
       a{
           position: absolute;
           left: 280px;
           bottom: 100px;
            display: block;
            width: 248px;
            height: 64px;
            animation: discount 3s infinite;
        }
    }
}
.rule{
    max-width: 750px;
    width: 100%;
    background: #a4d4f4;
    color: #727171;
    overflow: hidden;
    dl{
       position: relative;
       width: 100%;
       margin: 0 auto;
       dt{
           padding-top: 40px;
           font-size: 24px; /*px*/
           font-weight: bold;
           text-align: center;
       }
       dd{
           margin:  10px 0;
           font-size: 20px;/*px*/
           text-align: center;
       }
       .alibglogo{
           display: block;
           width: 100%;
           height: 79px;
           background: url("../imgs/ali-cancer/ali-logo.png") no-repeat;
           background-size: 100px 79px;
           background-position: 50% 0;
           margin-top: 20px;
           padding-bottom: 20px;
       }
    }
}
@keyframes discount{
    0%   { -webkit-transform: scale(1); -ms-transform: scale(1); }
    50%  { -webkit-transform: scale(0.8); -ms-transform: scale(0.8); }
    100% { -webkit-transform: scale(1); -ms-transform: scale(1); }
}
