.content {
  width: 100%;

  .banner {
    position: relative;
    width: 100%;

    .img {
      width: 100%;
    }

    .btn-buy {
      display: block;
      position: absolute;
      bottom: 20px;
      left: 29%;
      width: 42%;

      img {
        width: 100%;
      }
    }
  }

  .rule {
    width: 100%;
    background-color: #f5faa4;
    padding: 50px 0;

    dl {
      width: 62%;
      margin: 0 auto;
      color: #187a8e;
    }

    dt {
      font-size: 26px;
      line-height: 70px;
      text-align: center;
      font-weight: bold;
      color: #30b6cf;
    }

    dd {
      font-size: 22px; /* px */
      line-height: 40px;
    }
  }
}